{% extends "tpt_base.html" %}
{% block body %}
<div class="content-section">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <div style="text-align: center">
                    <h1> Error 403 </h1>
                    <h3> Permisos insuficientes (forbidden). </h3>
                    <p>
                        El servidor no puede procesar la petición porque el usuario no tiene permisos suficientes.
                    </p>
                    <hr class="intro-divider">
                    <a id="a-return-home" href="javascript:void(0)" onclick="goToURL(); return false;" class="btn btn-default btn-lg">
                        <i class="fa fa-home"></i>
                        Inicio
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
