{% extends "tpt_base.html" %}
{% block body %}
<div class="content-section">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <div style="text-align: center">
                    <h1> Error 500 </h1>
                    <h3> El servidor encontró un error interno. </h3>
                    <p>
                        Puede deberse a un fallo de configuración, de permisos, de recursos del sistema (memoria) o de programación.
                    </p>
                    <hr class="intro-divider">
                    <a id="a-return-home" href="javascript:void(0)" onclick="goToURL(); return false;" class="btn btn-default btn-lg">
                        <i class="fa fa-home"></i>
                        Inicio
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
