<!DOCTYPE html>
{% from "components/navbar.html" import navbar with context %}
{% from "components/panelmessages.html" import panelmessages with context %}
{% from "components/auxiliar_macros.html" import mac_frm_input_text with context %}
{% from "components/auxiliar_macros.html" import mac_frm_input_email with context %}
{% from "components/auxiliar_macros.html" import mac_frm_input_checkbox with context %}
{% from "components/auxiliar_macros.html" import mac_frm_button_gotolist with context %}
{% from "components/auxiliar_macros.html" import mac_frm_button_new with context %}
{% from "components/auxiliar_macros.html" import mac_frm_managerPanelSubform with context %}
{% from "components/auxiliar_macros.html" import mac_frm_tab_menu with context %}
{% from "components/auxiliar_macros.html" import mac_lst_row_edit_button with context %}
{% from "components/auxiliar_macros.html" import mac_modal_confirmacion with context %}

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Raíz de nuestra aplicacion para que lo maneje JS/jQuery desde los archivos de scripts -->
    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
      const wrongSound = '{{ url_for('static', filename='sounds/wrong.mp3') }}'
      const successSound = '{{ url_for('static', filename='sounds/success.wav') }}'

    </script>

        <!-- Aqui cambiamos el jquery para usar la version completa que trae el metodo .getJSON -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.js"></script>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fontawesome5/css/all.min.css') }}">
<link rel="shortcut icon" href="{{url_for('static', filename='images/favicon.ico')}}">

    <title>DIVAIN-Etiquetas</title>
  </head>
<body>
  <script src="{{ url_for('static', filename='js/provider.min.js') }}"></script>
  <!-- Menu de la aplicacion -->
  {{ navbar() }}

  <div class="container mt-2">
    <!-- Cuerpo de la aplicacion -->
    {% block body %}{% endblock %}
    <!-- Panel de Mensajes -->

    {{ panelmessages() }}

  </div>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
</body>
</html>
