{% extends "tpt_base.html" %}
{% block body %}
<h1 class="text-center mt-3">Imprimir Etiquetas</h1>
<hr>
<form autocomplete="off" class="mt-3" onsubmit="return validateForm()" id="myForm" action="{{ url_for(form_action) }}"
  method=post>

  <!-- AREA IMPRESIONES -->
  <section>
    <div class="form-group row">
      <label class="col-3  col-form-label">Impresiones</label>
      <div class="col-7">

        <input id="copiesNumber" class="form-control" type="number" placeholder="" required name="CopiesNumber" min="1"
          step="1" value={{copies_number}}>
      </div>
    </div>

    <div id="impresora-1" class="form-group row">
      <label class="col-3  col-form-label">Impresora 1</label>

      <div class="col-7">

        <div class="form-check form-check-inline">
          <input class="form-check-input show-bottle" type="radio" name="tscLabel" id="tscLabel1" value="bottle"
          {% if not formdata or formdata['tscLabel']=='bottle' %} checked {% endif %}>
          {# {% if formdata and formdata['tscLabel']=='bottle' %} checked {% endif %}> #}
          <label class="form-check-label" for="tscLabel1">
            DIVAIN 100
          </label>
        </div>


        <div class="form-check form-check-inline">
          <input class="form-check-input hidde-bottle" type="radio" name="tscLabel" id="tscLabel2" value="bottle15ml" {%
            if formdata and formdata['tscLabel']=='bottle15ml' %} checked {% endif %}>
          <label class="form-check-label" for="tscLabel2">
            DIVAIN 15
          </label>
        </div>

        <div class="form-check form-check-inline">
          {# <input class="form-check-input hidde-bottle" type="radio" name="tscLabel" id="tscLabel2" value="sample" {% if #}
          <input class="form-check-input hidde-bottle" type="radio" name="tscLabel" id="tscLabel_sample" value="sample" {% if
            formdata and formdata['tscLabel']=='sample' %} checked {% endif %}>
          <label class="form-check-label" for="tscLabel_sample">
            SAMPLE
          </label>
        </div>

        {# QR LABELS #}
        <div class="form-check form-check-inline">
          <input class="form-check-input show-bottle" type="radio" name="tscLabel" id="QR_QQ" value="QR_QQ"
          {% if formdata and formdata['tscLabel']=='QR_QQ' %} checked {% endif %}>
          <label class="form-check-label" for="QR_QQ">
            QR 100 Q
          </label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input show-bottle" type="radio" name="tscLabel" id="QR_HQ" value="QR_HQ"
          {% if formdata and formdata['tscLabel']=='QR_HQ' %} checked {% endif %}>
          <label class="form-check-label" for="QR_HQ">
            QR 100 H
          </label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input hidde-bottle" type="radio" name="tscLabel" id="tscLabel3" value="ninguna"
          {% if formdata and formdata['tscLabel']=='ninguna' %} checked {% endif %}>
          {# {% if not formdata or formdata['tscLabel']=='ninguna' %} checked {% endif %}> #}
          <label class="form-check-label" for="tscLabel3">
            Ninguna
          </label>
        </div>
      </div>
    </div>

      <div class="form-group row ">
      <label class="col-3  col-form-label">Tipo Etiqueta Sample</label>
      <div class="col-7">

        <div class="form-check form-check-inline">
          <input class="form-check-input " type="radio" name="free_sample" id="sample2" value="standard" {% if formdata
            and formdata['free_sample']=='standard' %} checked {% endif %} disabled>
          <label class="form-check-label" for="sample2">
            Sample
          </label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="free_sample" id="sample3" value="pack" {% if formdata and
            formdata['free_sample']=='pack' %} checked {% endif %} disabled>
          <label class="form-check-label" for="sample3">
            Pack
          </label>
        </div>

      </div>
    </div>

    <div id="impresora-2" class="form-group row">
      <label class="col-3  col-form-label">Impresora 2</label>
      <div class="col-7">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="zdLabel" id="zdLabel1" value="destination_group" {% if not formdata or
            formdata['zdLabel']=='destination_group' %} checked {% endif %}>
          <label class="form-check-label" for="zdLabel1">
            Grupo destino
          </label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="zdLabel" id="zdLabel2" value="ninguna" {% if formdata and
            formdata['zdLabel']=='ninguna' %} checked {% endif %}>
          <label class="form-check-label" for="zdLabel2">
            Ninguna
          </label>
        </div>
      </div>
    </div>


    {# <div class="form-group row ">
      <label class="col-3  col-form-label">Tipo Etiqueta Sample</label>
      <div class="col-7">

        <div class="form-check form-check-inline">
          <input class="form-check-input " type="radio" name="free_sample" id="sample2" value="standard" {% if formdata
            and formdata['free_sample']=='standard' %} checked {% endif %} disabled>
          <label class="form-check-label" for="zdLabel2">
            Sample
          </label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="free_sample" id="sample3" value="pack" {% if formdata and
            formdata['free_sample']=='pack' %} checked {% endif %} disabled>
          <label class="form-check-label" for="zdLabel2">
            Pack
          </label>
        </div>

      </div>
    </div> #}

  <div class="form-group row ">
      <label class="col-3  col-form-label">Tipo Etiquetas destino</label>

     <div class="col-7">

        <div class="form-check form-check-inline">
          <input class="form-check-input " type="radio" name="label_destination" id="label_destination_ue"
            value="UE" {% if not formdata or formdata['label_destination']=='UE' %} checked {% endif %}>
          <label class="form-check-label" for="label_destination_ue">
            UE
          </label>
        </div>

                <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="label_destination" id="label_destination_uk"
            value="UK" {% if formdata and formdata['label_destination']=='UK' %} checked {% endif %}>
          <label class="form-check-label" for="label_destination_uk">
            UK
          </label>
        </div>

          <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="label_destination" id="label_destination_usa"
            value="USA" {% if formdata and formdata['label_destination']=='USA' %} checked {% endif %}>
          <label class="form-check-label" for="label_destination_usa">
            USA
          </label>
        </div>

          <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="label_destination" id="label_destination_mx"
            value="MX" {% if formdata and formdata['label_destination']=='MX' %} checked {% endif %}>
          <label class="form-check-label" for="label_destination_mx">
            MX
          </label>
        </div>

        {#
          <div class="form-check form-check-inline">
          <input class="form-check-input " type="radio" name="label_ingredients_type" id="label_ingredients_type_normal"
            value="normal" {% if not formdata or formdata['label_ingredients_type']=='normal' %} checked {% endif %}>
          <label class="form-check-label" for="zdLabel2">
            Normal
          </label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="label_ingredients_type" id="label_ingredients_type_usa"
            value="usa" {% if formdata and formdata['label_ingredients_type']=='usa' %} checked {% endif %}>
          <label class="form-check-label" for="zdLabel2">
            EEUU
          </label>
        </div>
         #}

      </div>

  </div>

  </section>
  <hr>

  <!-- AREA PRODUCTOS -->
  <section>
    <div class="form-group row">
      <label class="col-3  col-form-label">EAN Botella</label>
      <div class="col-5">
        <input id="eanBotella" class="form-control" type="text" placeholder="Leer EAN de la botella del proveedor"
          required autofocus name="eanBotella">
      </div>

      <div id="spinnerEanBotella" class="col-1 invisible">
        <div class="spinner-border text-info" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div class="col-3" id="divBotellas">
        <span class="text-muted invisible"><i class="fas fa-wine-bottle"></i></span>
        <span class="text-muted invisible"><i class="fas fa-wine-bottle"></i></span>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-3 col-form-label">Lote Botella</label>
      <div class="col-7">
        <input id="loteBotella" class="form-control" type="text" name="loteBotella"
          placeholder="Ingrese lote de la botella del proveedor" required readonly>

      </div>
    </div>
  </section>

  <hr>

  <!-- AREA INDICACIONES CAJA/TAPÓN/ETIQUETA -->
  <section>
    <div class="form-group row">
      <label class="col-3  col-form-label">CAJA</label>
      <div class="col-5">
        <input id="caja" class="form-control" type="text" readonly>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-3  col-form-label">TAPÓN</label>
      <div class="col-5">
        <input id="tapon" class="form-control" type="text" readonly>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-3  col-form-label">ETIQUETA</label>
      <div class="col-5">
        <input id="etiqueta" class="form-control" type="text" readonly>
      </div>
    </div>
  </section>

  <hr>
  <!-- INPUTS OCULTOS - DATOS ADICIONALES -->
  <section>
    <div class="d-none" id="hiddenInputs"></div>
  </section>

  <small id="smallEanBotella" class="form-text text-danger invisible ">Código invalido por favor intente nuevamente
  </small>
</form>
<script>

  // Variables globales

  // Información de las etiquetas que viene del servidor
  const labelsInfo = {{ labels_info | tojson }};

  // Precarga de los datos de las etiquetas en el cliente
  function createFindLabelInfo(labelsInfo) {
    
    // Devuelve una función que busca la información de una etiqueta
    return function(userInput) {
    // Primero buscar por 'supplier_references_eans'
    for (const obj of labelsInfo) {
      if (obj.supplier_references_eans.includes(userInput)) {
        return obj;
      }
    }
    // Segundo, buscar por 'ean_bottle'
    for (const obj of labelsInfo) {
      if (obj.ean_bottle === userInput) {
        return obj;
      }
    }
    // Tercero, buscar por 'ean_sample'
    for (const obj of labelsInfo) {
      if (obj.ean_sample === userInput) {
        return obj;
      }
    }
    // Cuarto, buscar por 'divain_number'
    for (const obj of labelsInfo) {
      if (obj.divain_number === userInput) {
        return obj;
      }
    }
    // Si no se encuentra nada
    return null;
    };
  }

  // Función que se llama en printing-labels-new.js para buscar la información de una etiqueta
  const findLabelInfo = createFindLabelInfo(labelsInfo);

</script>

<script src="{{ url_for('static', filename='js/printing-labels-new.js') }}"></script>

{% endblock %}
