{% extends "tpt_base.html" %}
{% block body %}
<h1 class="text-center mt-5">Pendiente por Reponer</h1>
<hr>
<form autocomplete="off" class="mt-5" id="formPicking" action="{{ url_for('web.pendiente') }}" method=post>
    <div class="form-group row">
        <label class="col-3  col-form-label">Código</label>
        <div class="col-7">
  
          <input id="iptCodigo" class="form-control"
                 type="text"
                 placeholder="1º - Leer EAN del perfume"
                 required
                 autofocus
                 >

          <small id="smallCodigo"
            class="form-text text-danger invisible ">Código invalido por favor intente nuevamente
        </small>
        </div>
        <div id="spinnerCodigo" class="col-2 invisible">
            <div class="spinner-border text-info" role="status">
                <span class="sr-only">Loading...</span>
              </div>
        </div>
      </div>
    
    <div class="form-group row">
        <label class="col-3 col-form-label">SKU</label>
        <div class="col-7">
  
          <input id="iptSKU" class="form-control"
                 type="text"
                 name="sku_reference"
                 readonly
                 placeholder=""
                 required
                 >
        <br>
        </div>
      </div>

      <div class="form-group row invisible">
        <label class="col-3 col-form-label">Ubicación</label>
        <div class="col-7">
            <input id="iptUbicacion" class="form-control"
                 type="hidden"
                 readonly
                 placeholder="Ubicación del cartucho"
                 required
                 name="name_location"
                 >
            <small id="smallUbicacion"
                 class="form-text text-danger invisible ">Ubicación invalida por favor intente nuevamente
            </small>
        </div>
        <div id="spinnerUbicacion" class="col-2 invisible">
            <div class="spinner-border text-info" role="status">
                <span class="sr-only">Loading...</span>
              </div>
        </div>
      </div>

      <input id="iptIdReference" name="id_reference" type="hidden">
      <input id="iptDateEntry" name="date_entry" type="hidden">
      <script src="{{ url_for('static', filename='js/pending.js') }}"></script>
</form>
<hr>



<div id="log">

</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<script>
  $(document).ready(function(){

    let reloadPendigs = {{session.get('reload_pendigs')|tojson}};
    var socket = io.connect('https://' + document.domain + ':' + location.port + '/test');


if (reloadPendigs) {
  socket.emit('my broadcast event', {data: 'Actualizando Lista...'});
}

});

</script>
{% endblock %}