{% extends "tpt_base.html" %}
{% block body %}
<h1 class="text-center mt-5">Ajustes</h1>
<hr>
<form autocomplete="off" class="mt-5" id="formAlmacenaje" action="{{ url_for('web.ajustes') }}" method=post>
    <div class="form-group row">
        <label class="col-3  col-form-label">Email reporte de errores</label>
        <div class="col-7">

          <input id="mail_errors" class="form-control"
				 name="mail_errors"
		  		 type="text"
                 required
				 type="email"
				 value={{mail_errors}}
				 >
		</div>
	</div>

	<div class="form-group row">
        <label class="col-3  col-form-label">Email copia de pedidos</label>
        <div class="col-7">

		  <input id="mail_copy_orders" class="form-control"
				 name="mail_copy_orders"
                 type="text"
                 required
				 type="email"
				 value={{mail_copy_orders}}
				 >
    	</div>
    </div>

	<div class="form-group row">
        <label class="col-3  col-form-label">Pausar pedidos automáticos</label>
        <div class="col-7">

			<input class="form-control" type="checkbox" id="pause_automatic_order" name=""
			onclick="setBooleanState($(this))"
			{% if pause_automatic_order == True or pause_automatic_order == '1' %}checked{% endif %}
		>
		<input type="hidden" class="form-control" name="pause_automatic_order" id=""
		value={% if value == 'True' or value == '1' %}1{% else %}0{% endif %}>
    	</div>
    </div>

	<div class="row row-md-12">
	<div class="col text-right">
	<button id="btnSubmit" type="submit" class="btn btn-primary mt-3" title="Guardar ajustes">
		<i class="far fa-save"></i> Guardar</button>

	<script>

		// Da el valor adecuado al input hidden asociado a un checkbox
		// cuando este cambia de estado chequeado/sin chequear
		function setBooleanState($el) {
			var newState = $el.is(":checked") ? 1 : 0;
			$el.next().val(newState);
		};

	</script>
	</div>
	</div>


</form>
<hr>
{% endblock %}
